.btn{
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-theme {
    display: inline-block;
    text-decoration: none;
    color: var(--white) !important;
    background-color: var(--btn-theme) !important;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: var(--btn-theme-dark) !important;
        transition: 0.3s all ease-in-out;
    }

}

.btn-outline-theme {
    display: inline-block;
    text-decoration: none;
    color: var(--btn-theme) !important;
    border: 1px solid var(--btn-theme) !important;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        color: var(--white) !important;
        background-color: var(--btn-theme) !important;
        transition: 0.3s all ease-in-out;
    }

}

.btn-secondary-theme {
    display: inline-block;
    text-decoration: none;
    color: var(--white) !important;
    background-color: var(--btn-secondary-theme) !important;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: var(--btn-secondary-theme-dark) !important;
        transition: 0.3s all ease-in-out;
    }

}

.btn-secondary-outline-theme {
    display: inline-block;
    text-decoration: none;
    color: var(--btn-secondary-theme) !important;
    border: 1px solid var(--btn-secondary-theme) !important;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        color: var(--white) !important;
        background-color: var(--btn-secondary-theme) !important;
        transition: 0.3s all ease-in-out;
    }

}
