.btn-theme {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn-theme);
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: var(--btn-theme-dark);
        transition: 0.3s all ease-in-out;
    }

}

.btn-outline-theme {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--btn-theme);
    border: 1px solid var(--btn-theme);
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        color: var(--white);
        background-color: var(--btn-theme);
        transition: 0.3s all ease-in-out;
    }

}

.btn-secondary-theme {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn-secondary-theme);
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: var(--btn-secondary-theme-dark);
        transition: 0.3s all ease-in-out;
    }

}

.btn-secondary-outline-theme {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--btn-secondary-theme);
    border: 1px solid var(--btn-secondary-theme);
    transition: 0.3s all ease-in-out;
    border-radius: 10px;

    &:hover {
        color: var(--white);
        background-color: var(--btn-secondary-theme);
        transition: 0.3s all ease-in-out;
    }

}
