.navbar {
    .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            @media screen and (max-width: 991px) {
                width: 60px;
                height: 60px;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
        }
    }
    .collapse, .collapsing {
        .navbar-nav {
            font-size: 18px;
            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
            .nav-item {
                display: flex;
                align-items: center;
                @media screen and (max-width: 991px) {
                    display: block;
                }
                .nav-link {

                    &::after, &::before {
                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            overflow: hidden;
                            border-radius: 50%;
                        }
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 50%;
                    }

                    &.active {
                        font-weight: bold;
                    }
                }
                .dropdown-menu {
                    padding: 0;
                    overflow: hidden;
                    .dropdown-item {
                        padding: 10px 20px;
                        &:hover, &:active {
                            background-color: var(--light);
                            color: var(--black);
                        }
                        &.active {
                            background-color: var(--light);
                            color: var(--black);
                            font-weight: bold;
                        }
                    }
                    .dropdown-divider {
                        margin: 0;
                    }
                }
            }
        }
    }
}
