:root{
    --font-family: 'Poppins', sans-serif;
    --white: #ffffff;
    --black: #000000;
    --light: #eeeeee;
    --red: #ff0000;
    --btn-theme: #5C4C43;
    --btn-theme-dark: #52453d;
    --btn-secondary-theme: #E54648;
    --btn-secondary-theme-dark: #b22729;
    --border-color: #c4c8cb;
}

body{
    font-family: var(--font-family);
}
