/* --------------------------------------------------------------------------

    Organization Information:
    Organization: Redishketch
    Organization Website Url: https://www.redishketch.com

    -----------------------

    developer Information:
    Name: Mahi Bashar Akash
    Profession: Web Developer
    Status: Internship
    Personal Website Url: no personal portfolio
    work experience: 1 year
    github url: https://github.com/mahibashardeveloper
    Project work based programming language: Laravel with vueJs as (SPA)

    Table Content
    -----------------------
    1. Root
    2. Header
    3. User
    4. Pagination
    5. Buttons
    6. Forms
    7. Footer

-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    01 start Root
-------------------------------------------------------------------------- */
    @import "root";
/* --------------------------------------------------------------------------
    01 end Root
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    02 start Header
-------------------------------------------------------------------------- */
    @import "header";
/* --------------------------------------------------------------------------
    02 end Header
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    03 start User
-------------------------------------------------------------------------- */
@import "user";
/* --------------------------------------------------------------------------
    03 end User
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    04 start Pagination
-------------------------------------------------------------------------- */
@import "pagination";
/* --------------------------------------------------------------------------
    04 end Pagination
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    05 start Buttons
-------------------------------------------------------------------------- */
@import "buttons";
/* --------------------------------------------------------------------------
    05 end Buttons
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    06 start Forms
-------------------------------------------------------------------------- */
@import "forms";
/* --------------------------------------------------------------------------
    06 end Forms
-------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    07 start Footer
-------------------------------------------------------------------------- */
@import "footer";
/* --------------------------------------------------------------------------
    07 end Footer
-------------------------------------------------------------------------- */
